.home-page {
    height: 120vh;
    width: 100%;
    text-align: center;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bag {
    max-width: 50%;
}

.runner {
    max-width: 75%;
}