.footer {
    background-color: black;
    width: 100%;
    text-align: left;
    position: fixed;
    bottom: 0;
}

h4 {
    margin-left: 2em;
    color: white;
}

.footer-link:link {
   color: red; 
}

.footer-link:visited {
    color:red;
}

.footer-link:hover {
    color: yellow;
}

.footer-link:active {
    color: red;
}