.login {
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lfg {
    padding: 1em;
}

.lcc {
    margin-left: 1em;
    margin-right: 1em;
}